@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html{
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}
:root{
  --bg-colour:#ffffff ;
  --bg2-colour:#37474F;
  --text-colour:#5F5F5F;
  --main-colour: #0c3948;
  --white-colour: #ffffff;
  --shadow-colour: rgba(0, 0, 0, 0.882);
}
.dark-mode{
  --bg-colour:#37474F;
  --bg2-colour:#1d1d1d;
  --text-colour:#ffffff;
  --main-colour: #197695;
  --white-colour: #ffffff;
  --shadow-colour: rgba(244, 244, 244, 0.543);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h2,
h3,
a {
	/* color: #34495e; */
  color: var(--text-colour);
}
a {
	text-decoration: none;
}
.hr{
  display: flex;
  justify-content: center;
}
.logo {
	margin: 0;
	font-size: 1.45em;
}
.main-nav {
	margin-top: .5rem;
  align-items: center;
  padding-right: 2rem;

}
.gdsc_img{
  display: flex;
  align-items: center;
}
.i0{
  width: 6rem;
  height: 3rem;
}
.bx-moon{
  font-size: 1.7rem;
  color: var(--text-colour);
}
.logo a,
.main-nav a {
	padding: 1rem 1.5rem;
	text-transform: uppercase;
	/* text-align: left; */
	display: block;
}

.main-nav a {
	color: var(--text-colour);
	font-size: 1.5em;
}
.main-nav a:hover {
	color: #718daa;
}
.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: .1rem solid #a2a2a2;
	background-color: var(--bg-colour);
	-webkit-box-shadow: 0rem 2rem 1.4rem 2rem rgba(0,0,0,0.75);
	-moz-box-shadow: 0rem 0rem 1.4rem 0rem rgba(0,0,0,0.75);
	box-shadow: 0rem 0rem 1.4rem 0rem rgba(0,0,2,0.75);
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	border-radius: .5rem;
}
/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 115rem;
	}
	}

}
@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
.main{
    background-color: var(--bg-colour);
    width: 100%;
    height:12vh;
    position: relative;
}
.gdsc_group{
  text-align: center;
}
.main .p1{
  font-size: 4rem;
  color: #646464;
  font-weight: bold;
  padding-top: .5rem;
}
.main .p2{
  font-size: 2.3rem;
  color: var(--text-colour);
  padding-top: 1rem;
  text-align: center;

  padding-left: 18rem;
    padding-right: 18rem;
}
.main .img0{
  position: relative;
  top: 10rem;
  left: 10rem;
}
.main .img1{
  background-color: var(--bg-colour);
  height: 100%;
  padding-top: 2.5rem;
}
.i1{
  width: 75%;
}
.i2{
 width: 50%;
}
.main .img2{
  background-color: var(--bg-colour);
  height: 100%;
}
.main .btn{
  padding-top: 1.2rem;
}
.btn1{
  background-color: #3686F7;
  padding: 1rem 2rem;
  color: var(--bg-colour);
  border: 0rem;
  font-size: 2rem;
  border-radius: 6.6rem;
}
.main .p3{
  font-size: 4rem;
  color: var(--text-colour);
  font-weight: bold;
  height: 10rem;
}
section{
  min-height: 100rem;
}
.main2{
  background-color: var(--bg-colour);
  width: 100%;
}
.main2 .p1{
  text-align: center;
  font-size: 4rem;
  padding-top: 3rem;
  color: var(--text-colour);
}
.main2 .c1{
  display: flex;
  justify-content: center;
}
.main2 .c1 .p1{
  font-size: 2rem;
  border-right: 1.0rem blue solid;
  border-radius: 1.0rem;
  align-items: center;
  text-align: right;

  padding-right: 5rem;
  margin-right: 10rem;
}
/* .main2 .c1 .img1{
  height: 15rem;
} */
.i3{
  height: 25rem;
  width: 25rem;
}
.i4{
  height: 20rem;
  width: 25rem;
}
.i5{
  height: 20rem;
  width: 25rem;
}
.main2 .p2{
  text-align: center;
  font-size: 4rem;
  color: var(--text-colour);
}
.main2 .c2{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.main2 .c2 .p1{
  font-size: 2rem;
  border-left: 1rem #0F9D56 solid;
  border-radius: 1rem;
  align-items: center;

  padding-left: 5rem;
  margin-left: 10rem;
}

.main2 .p3{
  text-align: center;
  font-size: 4rem;
  color: var(--text-colour);
}
.main2 .c3{
  display: flex;
  justify-content: center;
  text-align: center;
}
.main2 .c3 .p1{
  font-size: 2rem;
  border-right: 1rem #DB4437 solid;
  border-radius: 1rem;
  align-items: center;

  padding-right: 5rem;
  margin-right: 10rem;
}
.main3{
  background-color: var(--bg-colour);
}
.main3 .circle{
  display: flex;
    padding-bottom: 5rem;
    padding-top: 5rem;
}
.main3 .d1,.d2,.d3,.d4{
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  margin: auto;
}
.main3 .d1,.d2,.d3,.d4 .p1{
  font-size: 2rem;
  color: var(--text-colour);
  font-weight: bold;
}
.main3 .head{
  text-align: center;
  padding-top: .8rem;
  padding-bottom: .4rem;
}
.main3 .h1{
  font-size: 5rem;
  color: var(--text-colour);
  font-weight: bold;
  padding-top:3rem;
}
.main3 .h2{
  font-size:3rem ;
  color: var(--text-colour);
  padding-top:3rem;
}
.main3 .card{
  text-align: center;
  padding-top:4rem;
}
.main3 .card .mc1,.mc2,.mc3{
  height: 30rem;
  width:35rem;
}

.faq{
  background-color: var(--bg-colour);
}
.fa{
  font-size: 5rem;
  text-align: center;
  color: var(--text-colour);
  font-weight: bold;
  padding-top: 3rem;
}
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url(https://fonts.googleapis.com/css?family=Pacifico);
*, *:before, *:after {
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
}

.wrapper {
  width: 50rem;
  margin: 5rem auto;
}
.wrapper > ul {
  list-style: none;
  padding: 0;
  margin: 0 0 2rem 0;
}
.dropdown {
  position: relative;
  padding: 2rem 0;
  width: 100%;
}
.dropdown a {
  text-decoration: none;
}
.dropdown [data-toggle="dropdown"] {
  display: block;
  color: var(--text-colour);
  background: var(--bg-colour);
  text-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.3);
  padding: 1rem;
  font-size: 2.5rem;
  border: .6rem var(--text-colour) solid;
  border-radius: 3rem;
}
.dropdown [data-toggle="dropdown"]:before {
  position: absolute;
  display: block;
  content: '\25BC';
  font-size: 0.7em;
  color: var(--text-colour);
  top: 3.8rem;
  right: 1.5rem;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}
.dropdown [data-toggle="dropdown"].single:before{
  content: none;
}
.dropdown > .dropdown-child {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 2rem 2rem;
  margin: 0;



  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -moz-transition: max-height 0.6s ease-out;
  -o-transition: max-height 0.6s ease-out;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;

  font-size: 2rem;
  background-color: var(--bg-colour);
  border: .6rem #a2a2a2 solid;
  border-left: 1rem red solid;
  border-radius: 2rem;
}
.dropdown > .dropdown-child li {
  padding: 0;
  list-style: none;
}
.dropdown > .dropdown-child li a {
  display: block;
  color: var(--text-colour);
  background: var(--bg-colour);
  -moz-box-shadow: 0 1rem 0 white inset, 0 -1rem 0 #d5d5d5 inset;
  -webkit-box-shadow: 0 1rem 0 white inset, 0 -1rem 0 #d5d5d5 inset;
  box-shadow: 0 .1rem 0 var(--bg-colour) inset, 0 -1rem 0 #d5d5d5 inset;
  text-shadow: 0 -0.1rem 0 rgba(255, 255, 255, 0.3);
  padding: 1rem 1rem;
}
p{
  color: var(--text-colour);
}
.dropdown > .dropdown-child li a:hover {
  background: #f6f6f6;
}
.dropdown > input[type="checkbox"] {
  opacity: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.dropdown > input[type="checkbox"]:checked ~ .dropdown-child {
  max-height: 9999rem;
  display: block;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  /*animation: showAnimation 0.5s ease-in-out;
  -moz-animation: showAnimation 0.5s ease-in-out;
  -webkit-animation: showAnimation 0.5s ease-in-out;*/
  -moz-transition: max-height 2s ease-in-out;
  -o-transition: max-height 2s ease-in-out;
  -webkit-transition: max-height 2s ease-in-out;
  transition: max-height 2s ease-in-out;
}
.dropdown > input[type="checkbox"]:not(:checked) ~ .dropdown-child{
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -moz-transition: max-height 0.6s ease-out;
  -o-transition: max-height 0.6s ease-out;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}
.dropdown .dropdown-child li a.active{
  background: var(--bg-colour);
}
.dropdown > input[type="checkbox"]:checked + a[data-toggle="dropdown"]:before {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}

@keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-moz-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0.1);
    -ms-transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
  }
  40% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.04);
    -ms-transform: scaleY(1.04);
    -webkit-transform: scaleY(1.04);
    transform: scaleY(1.04);
  }
  100% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-moz-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-webkit-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  60% {
    -moz-transform: scaleY(0.98);
    -ms-transform: scaleY(0.98);
    -webkit-transform: scaleY(0.98);
    transform: scaleY(0.98);
  }
  80% {
    -moz-transform: scaleY(1.02);
    -ms-transform: scaleY(1.02);
    -webkit-transform: scaleY(1.02);
    transform: scaleY(1.02);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}

.footer{
  height: 30rem;
  width: 100%;
  background-color: var(--bg-colour);
}
.foot{
  background: linear-gradient(90deg, #3a6ece30,#3a6ecebd,#3d79da, #4285F4);
  height: 100%;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-colour);
}
.f1{
  text-align: center;
  justify-self: center;
  font-size: 3rem;
  padding-right: 4rem;
}
.f2{
  font-size: 2rem;
  padding-right: 4rem;
}
.f2 .t1{
  display: flex;
}
.f2 .p1{
  font-size: 2rem;
}
.f2 .t2{
  display: flex;
}
.f3{
  padding-right: 2rem;

}
.f3 .p1{
  font-size: 2rem;
}
.bx-map,.bx-envelope{
  color: var(--text-colour);
}
.bxl-instagram,.bxl-linkedin-square,.bxl-twitter{
  font-size: 4rem;
  color: var(--text-colour);
}


@media (min-width: 1440px) {
	html{
    font-size: 61.5%;
  }
}
/* @media (min-width: 1220px) {
	html{
    font-size: 58%;
  }
} */
@media (min-width: 990px) {
	html{
    font-size: 61%;
  }
}
